:root {
    --primary: #ba374c;
    --secondary: #ffd9d9;
}

html {
    font-size: 18px;
}

/*
body {
  padding-left: 18px;
  padding-right: 18px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

a {
    font-family: "Consolas";
    text-decoration: none;
    color: var(--primary);
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.title {
    width: 500px;
    max-width: 40%;
    min-width: 10%;
    margin-left: 10%;
    background-color: #bcbcbc;
    background-image: url("/assets/images/background/3rd-party/cute-dark-little-stars.jpeg");
}

.title .content {
  padding: 16px;
  margin-top: 48px;
  background-color: white;
}

.main {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
    padding-top: 5vh;
    padding-left: 5vw;
}
