:root {
  --primary: #ba374c;
  --secondary: #ffffff;
}

html {
    font-size: 18px;
}

body {
  padding-left: 18px;
  padding-right: 18px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}