/* 
备忘录：
padding：内边距
border：边框
margin：外边距
font-size：字体大小
*/


left-bar {
    font-size: 1rem;
    line-height: 2;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1b1b1d;
    font-family: sans-serif;
    color: #ffffff;
}

h1 {
    font-weight: bold;
    font-size: 2.4rem;
    padding-left: 2.4rem;
    padding-top: 2rem;
    /* 测试辅助线 */
    /* border: solid 2px orange; */
}

/* 整体布局为垂直方向的 Flex 盒子 */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 顶部栏 */
header {
    display: flex;
    flex-shrink: 0;
    background-color: #242526;
    font-size: 1.5em;
    padding: 1rem;
    align-items: center;
}

.upperbar-icon {
    margin-right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
}

.upperbar-title {
    font-size: 2ex;
    font-weight: bold;
    /* 测试辅助线 */
    /* border: solid 1px cyan; */
}

/* 中间区域（一级盒） */
.first-level-box {
    display: flex;
    /* 挤占所有页面区域 */
    flex: 1;
    /* 测试辅助线 */
    /* border: solid 2px red; */
}

/* 主内容区域（二级盒） */
.second-level-box {
    display: flex;
    flex:1;
    /* 左右两侧自动填充为外边距 */
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #1b1b1d;
    box-sizing: border-box;
    max-width: 1000px;
    /* 测试辅助线 */
    /* border: solid 2px plum; */
}

/* 侧边栏 */
.sidebar {
    width: 15rem;
    padding: 4ex;
    background-color: #1b1b1d;
    box-sizing: border-box;
}

.sidebar-title {
    color: #459df4;
    line-height: 3;
    font-weight: bold;
    font-size: 1.2rem;
}

.sidebar-text {
    line-height: 2;
}

/* 侧边栏分割线 */
.divider {
    width: 1px;
    background-color: #444950;
}

/* 正文 */
main {
    flex: 1;
    padding: 0;
    background-color: #1b1b1d;
    box-sizing: border-box;
    /* 测试辅助线 */
    /* border: solid 1px plum; */
}


.main-text {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    line-height: 2;

}

p {
    flex: 1;
    padding: 0;
    box-sizing: border-box;
    /* 测试辅助线 */
    /* border: solid 1px plum; */
}

/* 底部信息栏 */
footer {
    background-color: #101010;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    /* 测试辅助线 */
    /* border: solid 1px plum; */
    padding-left: auto;
}

/* 超链接卡片 */
.card {
    margin: 1.2rem;
    background-color: #242526;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem;
    border: 1px solid #444950;
    border-radius: 0.8rem;
    box-shadow: 0 1.5px 3px 0#00000026;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 0.3;
    width: 15rem;
    line-height: 2;
    flex:1;
}

.card-box {
    padding: 1.2rem;
    /* 测试辅助线 */
    /* border: solid 1px cyan; */
}

.card-box-row-1 {
    display: flex;
    flex-wrap: wrap;
    /* 测试辅助线 */
    /* border: solid 1px greenyellow; */
}


.card-box-row-2 {
    display: flex;
    flex-wrap: wrap;
    /* 测试辅助线 */
    /* border: solid 1px greenyellow; */
}

.card-text-title {
    font-size: 1.2rem;
    line-height: 3;
    font-weight: bold;
    color: #ffffff;
}

.card-text-discription {
    font-size: 0.8rem;
    color: #ffffff;
}

/* 超链接样式 */
a {
    color: inherit;
    /* 去除下划线 */
    text-decoration: none;
}

.card:hover {
    border-color: #1E90FF;
}

.text-link {
    color: #8cb4ff;
    text-decoration: underline;

}